---
import Layout from '../../layouts/Default.astro';
import Libro from '../../components/ideas/libro.astro';
import Blog from '../../components/ideas/blog.astro';
import Linkedin from '../../components/ideas/linkedin.astro';
import { loadAllDictionaries } from '../../utils/i18nLoader.mjs';
import Translator from '../../lib/translator.mjs';

const allDictionaries = await loadAllDictionaries();
const t = new Translator('nah', allDictionaries);
t.setLocale("nah");
---
<Layout
	currentPage="ideas"
	lang="nah"
	t={t}
>

<section>  
	<div class="container">
	  <div class="row gy-4">
		<div class="col-md-6">
		  <Libro 
			title={ t._t("Arithmetic with Indeterminate Numbers") }
			description={ t._t("A book that explores the arithmetic of indeterminate numbers—a work that challenges mathematical conventions and opens up new possibilities in the field.") }
			link="https://docs.google.com/document/d/1hMfMg4uskO5dVtlq7b93A9RQVRJCm7rJEk-FLuTaXPI/edit?tab=t.0"
			type="Essay"
			lang="nah"
			t={t}
		  />
		</div>
  
		<div class="col-md-6">
		  <Blog 
			title={ t._t("Paynalton") }
			description={ t._t("Blog featuring diverse ideas on technology, science, and politics.") }
			link="https://paynalton.blogspot.com/"
			lang="nah"
			t={t}
		  />
		</div>
	  </div>
	</div>
  </section>
  <section>
	<div class="row gy-4">
	  <div class="container">
		<div class="col-md-6">
		  <Linkedin 
			title={ t._t("What is Intelligence?") }
			description={ t._t("A series of essays on natural and artificial intelligence.") }
			link="https://www.linkedin.com/posts/paynalton_hablemos-sobre-lo-que-es-la-inteligencia-activity-7049767612246855680-p6rc?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAIObOwB4dAq2mqYpXtT1UPj5Fh-_ASUoow"
			type="Essay"
			lang="nah"
			t={t}
		  />
		</div>
  
		<div class="col-md-6">
		  <Libro 
			title={ t._t("The Great Sea Serpent") }
			description={ t._t("An original story by Hans Christian Andersen, modified to help detect the origin of reading comprehension and learning difficulties in children.") }
			link="https://docs.google.com/document/d/1PKQPhedwj3hotWFREhkwTjVryYVaWtAFDwaqigz9RLA/edit?tab=t.0"
			type="Essay"
			lang="nah"
			t={t}
		  />
		</div>
	  </div>
	</div>
  </section>
  <section>
	<div class="row gy-4">
	  <div class="container">
		<div class="col-md-6">
		  <Blog 
			title={ t._t("Tales of Blood and Death") }
			description={ t._t("This site is dedicated to publishing short stories.") }
			link="https://paynalton.blogspot.com/"
			lang="nah"
			t={t}
		  />
		</div>
		<div class="col-md-6">
		  <Linkedin 
			title={ t._t("The Impossibility of Building a Dyson Sphere") }
			description={ t._t("A reflection on the impossibility of building a Dyson sphere and its implications for the search for extraterrestrial life.") }
			link="https://www.linkedin.com/posts/paynalton_imposibilidad-de-crear-una-esfera-dyson-activity-7054663684459020288-w2sT?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAIObOwB4dAq2mqYpXtT1UPj5Fh-_ASUoow"
			type="Essay"
			lang="nah"
			t={t}
		  />
		</div>
	  </div>
	</div>
  </section>
  <section>
	<div class="row gy-4">
	  <div class="container">
		<div class="col-md-6">
		  <Libro 
			title={ t._t("Connected Dimensions") }
			description={ t._t("A theoretical model to connect key elements of quantum physics.") }
			link="https://docs.google.com/document/d/1vE_OEMdw0G4ax29wOQBFaam9ypfDnKAMpCQfQ_3d6d8/edit?tab=t.0#heading=h.85v0orq1fjf7"
			type="Book"
			lang="nah"
			t={t}
		  />
		</div>
		<div class="col-md-6">
		  <Blog 
			title={ t._t("Tales of Blood and Death") }
			description={ t._t("This site is dedicated to publishing short stories.") }
			link="https://paynalton.blogspot.com/"
			lang="nah"
			t={t}
		  />
		</div>
	  </div>
	</div>
  </section>
  <section>
	<div class="row gy-4">
	  <div class="container">
		<div class="col-md-6">
		  <Linkedin 
			title={ t._t("Cameras Steal Your Soul") }
			description={ t._t("A reflection on modern society's resistance to technological progress.") }
			link="https://www.linkedin.com/posts/paynalton_hoy-en-d%C3%ADa-miramos-al-pasado-y-nos-re%C3%ADmos-activity-7048165073227272192-QsAU?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAIObOwB4dAq2mqYpXtT1UPj5Fh-_ASUoow"
			type="Essay"
			lang="nah"
			t={t}
		  />
		</div>
		<div class="col-md-6">
		  <Blog 
			title={ t._t("My Other Stories") }
			description={ t._t("Stories from various genres, from fantasy to horror.") }
			link="https://misotrosrelatos.blogspot.com/"
			lang="nah"
			t={t}
		  />
		</div>
	  </div>
	</div>
  </section>
  
  
</Layout>
<style>
	section{
		margin: 50px 0;
	}
</style>
