---
import Skills from '../../components/index/skills.astro';
import Profile from '../../components/index/profile.astro';
import Menu from '../../components/index/menu.astro';
import Softskills from '../../components/index/softskills.astro';
import Jobs from '../../components/index/jobs.astro';
import Layout from '../../layouts/Default.astro';
import { loadAllDictionaries } from '../../utils/i18nLoader.mjs';
import Translator from '../../lib/translator.mjs';

const allDictionaries = await loadAllDictionaries();
const t = new Translator('en', allDictionaries);
t.setLocale("en");

---

<Layout
	currentPage="home"
	lang="en"
	t={t}
>

	<section id="list-topics" class="list-topics">
		<div class="container">
			<Menu t={t} lang="en"/>
		</div>
	</section>
	<section id=""  class="subscription">
		<div class="container">
			<Profile t={t} lang="en"/>
		</div>
	</section>
	<section id="works" class="works">
		<div class="container">
			<Skills t={t} lang="en"/>
		</div>
	</section>
	<section id="explore" class="explore">
		<div class="container">
			<Softskills t={t} lang="en"/>
		</div>
	</section>
	<section id="blog" class="blog" >
		<div class="container">
			<Jobs t={t} lang="en"/>
		</div>
	</section>
</Layout>
