---
const { current, lang, t } = Astro.props;
---
<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
	
    <div class="container">

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button id="MenuButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><span>Pay</span>nalton</a>

        </div><!--/.navbar-header-->
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class={ current=='home'?`scroll active`:`scroll`}><a href={`/${lang}`}>{ t._t("Home") }</a></li>
                <li class={ current=='about'?`scroll active`:`scroll`}><a href={`/${lang}/about`}>{ t._t("My Life") }</a></li>
                <li class={ current=='jobs'?`scroll active`:`scroll`}><a href={`/${lang}/jobs`}>{ t._t("My Employers") }</a></li>
                <li class={ current=='projects'?`scroll active`:`scroll`}><a href={`/${lang}/projects`}>{ t._t("My Projects") }</a></li>
                <li class={ current=='ideas'?`scroll active`:`scroll`}><a href={`/${lang}/ideas`}>{ t._t("My Ideas") }</a></li>
                <li class={ current=='contact'?`scroll active`:`scroll`}><a href={`/${lang}/contact`}>{ t._t("Contact") }</a></li>
            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </div><!--/.container-->
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuButton = document.getElementById('MenuButton');
        const navbarMenu = document.getElementById('navbar-menu');

        menuButton?.addEventListener('click', function() {
            navbarMenu?.classList.toggle('collapse');
        });
    });
</script>