---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainMenu from '../components/MainMenu.astro';

const { currentPage, content_title, content_description, lang, t } = Astro.props;

---
<!doctype html>
<html lang={ lang }>
	<head>
		<BaseHead title={t._t("__SITE_TITLE__")} description={t._t("__SITE_DESCRIPTION__")} keywords={ t._t("__SITE_KEYWORDS__") } lang={lang} t={t}/>
	</head>
	<body class={`page-${currentPage}`}>
		<Header  lang={lang} t={t}/>
		<main>
			<section class="top-area">
				<div class="header-area">
					<MainMenu current={currentPage} lang={lang} t={t} />
				</div>
				<div class="clearfix"></div>
	
			</section>
			<section id="home" class="welcome-hero">
				<div class="container">
					<div class="welcome-hero-txt">
						<h1>{ t._t("__SLOGAN__") }</h1>
						<p>
							{ t._t("__SUBSLOGAN__") }
						</p>
					</div>
				</div>
			</section>
			<div class="main-content">
				{ () => {
					if( content_title ){
						return (
						<section class="title">
							<div class="container mt-5">
								<div class="section-header">
									<h1>{ t._t(content_title) }</h1>
									<p class="lead">{ t._t(content_description) }</p>
								</div>
							</div>
						</section>
						);
					}
				}}				
                <slot />
            </div>

			<section id="statistics"  class="statistics">
				<div class="container">
					<div class="statistics-counter"> 
						<div class="col-md-3 col-sm-6">
							<div class="single-ststistics-box">
								<div class="statistics-content">
									<span>+</span> <div class="counter">100 </div>
								</div>
								<h3>{ t._t("Successful projects") }</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="single-ststistics-box">
								<div class="statistics-content">
									<span>+</span> <div class="counter">10</div> 
								</div>
								<h3>{ t._t("Happy employers") }</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="single-ststistics-box">
								<div class="statistics-content">
									<span>+</span> <div class="counter">100</div> <span>K</span>
								</div>
								<h3>{ t._t("Grateful users") }</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="single-ststistics-box">
								<div class="statistics-content">
									<span>+</span> <div class="counter">50</div> <span>K</span>
								</div>
								<h3>{ t._t("Issues resolved") }</h3>
							</h3>
							</div>
						</div>
					</div>	
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
